 /* body and header styling */
 body{
    font-family: sans-serif; 
    background-color: dodgerblue;
    
}
header{
    text-align: center;
    background-color: honeydew;
   
}
/* all lists styling */
li{
    list-style: none;
    margin-bottom: 10px;

}

/* navigation styling */
nav li{
    margin: 10px  ;
    display: inline;
    padding: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

a:link{
    color: orange;
}

 a:visited{
    color: maroon;
} 
a:hover{
    color: lawngreen;
}

a:active{
    color: mediumslateblue;
}

nav{
    text-align: center;
    background-color: rgb(20, 145, 40);
    padding: 25px;
}
/* about section and footer */
h3, .profile{
    text-align: center;
}

.profile img{
    width: 500px;
    height: 350px;
}

h3, h1{
    font-size: 40px;
    font-style: bold;
    color: ivory;
}

.info li{
    font-size: 25px;
}

.about p{
    font-style: italic;
}